.archive-card {
  .avatar-wrap {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    background-color: var(--c-gray-lighter);
    .no-image {
      svg {
        color: var(--c-text-main);
        width: 120%;
        height: 120%;
        margin-left: -10%;
        opacity: 0.5;
      }
    }
  }
  .author-meta {
    font-weight: 700;
    & > :not(:first-child) {
      margin-left: 18px;
    }
    & > :not(:last-child) {
      &::after {
        content: '•';
        margin-left: 8px;
        position: absolute;
        display: inline-block;
        font-weight: 700;
      }
    }
  }
  .bio {
    margin-top: 1.5rem;
    padding: 0 1.5rem;
  }
}
